@import "base";

body{
	background: url(../images/body_bg2.jpg) no-repeat fixed;
	background-position: -320px 0;
	

	
}
.div1 .ull li{

	float: left;
	font-size: 20px;
	font-size: 12px;
	margin-top: 15px;
	margin-left:20px;
}
.div1 .ull li a{
	color: #d7d7d7;
}
.div1 .ull{
	margin-left: 36px;

}
.div1 .ull li a span{
	color:#f78407;
}
.div1{
	height: 90px;
	background-color: #333333;
}
.div1 .ull li:nth-child(3) {
    margin-left:2px;  
}
.div1 .ull li:nth-child(5){
	margin-top: 20px;
	 margin-left: 2px; 
	
}
.div1 .ull li:nth-child(6){
	margin-top: 20px;
	 margin-left: 2px;
	
}
	.div1 .ull li:nth-child(6) img{
		display: none;
	}

/*我的走秀下拉菜单*/
.div1 .div1-1{
	background-color: #fff;
	width: 76px;
	height: 170px; 
	margin-left: 214px; 
	margin-top: -15px;
	display: none;

}
.div1 .div1-1 ul{
	margin-left:10px;
	width: 76px;
	height: 170px; 

	
}
.div1 .div1-1 li{
	padding-top:10px;

}

.div1 .ul2 li a{
	font-size: 12px;
	color: #464545;

}

/* .div1 .ull li:nth-child(4) a:hover .div1 .ull li:nth-child(6){
	display: block;
}
.div1 .ull li:nth-child(4) a:hover .div1 .ull li:nth-child(5){
	display: none;
} */
/* .div1 .ull li:nth-child(4) a:hover .div1 .div1-1{
	
	display: block;
} */
.div1 .ull li:nth-child(4) a:hover{
	color: red;
	
}
.div1 .ull li:nth-child(4) a:hover .div1 .ull li:nth-child(4){
	background: #fff;
}

/*logo*/
.div1 #logo{
	margin-left:260px;
	display: inline;
	margin-top: 10px;

}
/*搜索框*/
.div1 input{
	float: right;
	margin-top: 10px;
	outline: none;
	background-color: #333333;
	border:none;
	border:1px solid #787878;
	width: 230px;
	height: 28px;
	border-right: none;
}



.div1 button{
	background-color: #333333;
	border:none;
	float: right;
	border:1px solid #787878;
	width: 30px;
	height: 32px;
	margin-top:10px;
	margin-right: 30px;
	border-left: none;
	cursor: pointer;
	outline: none;

}
/*导航栏 首页 新品*/
.div1 .ul1 li a{
	font-size: 14px;
	color:#eee;
	padding-left:12px;
	padding-right:12px;
	
	
}
.div1 .ul1 li a:hover{
	border-bottom: 2px solid #727071;
}
.div1 .ul1{
	margin-left: 405px;
}
.div1 .ul1 li{

	float: left;
	font-size: 20px;
	font-size: 12px;
	margin-top: 15px;
	margin-left:20px;
}
	/*导航不写死的地方*/ 

/*.nav{
	background: #ccc;
}
.nav-tabs ul li a{
	display: block;
	text-align: center;
	margin-left: 100px;
	color: #000;

}*/

.div2{
	height: 43px;
	background-color: #f7f7f7;
	overflow: hidden;
	padding-left: 350px;
	
}
.ul3 li a{
	font-size: 15px;
    height: 28px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:13px;
  text-align: center;
}
/* .ul3{
	margin-left: 350px;
	} */
.ul3 li a:hover li{
	border:1px solid #000;
}
.div2 .ul3 li a:hover {
  background: #fff;
  border: 1px solid #d7d7d7;
  border-bottom: none;
}



/*我是中间的切换部分*/


/*表袋*/
.baodai  {
 position: absolute;
 z-index: 3;
}
.baodai {
  width: 743px;
  height: 264px;
  background: #fff;
  border: 1px solid #d7d7d7;
}
.baodai dl dt a{
  font-size: 12px;
  color:#000;
  font-weight: 900;
}
.baodai dl dd{
  margin-top:5px;
}
.baodai dl dd a{
  font-size:10px ;
  color: #000;
}
.baodai dl a{
  float: left;
}
.baodai dl{
  border-bottom: 1px dashed #d7d7d7;
  width: 450px;
}
.baodai #re{
  margin-left:460px;
  margin-top: -17px;
 border:none;
  position: absolute;
}
.baodai2{
  margin-top: -190px;
}
.baodai{
  margin-left: 360px;
  display: none;
}
/*服装*/
.fuzhuang{
  position: absolute;
  z-index: 3;
}
 
.fuzhuang dl {
  z-index: 3;
}
.fuzhuang {
  width: 743px;
  height: 264px;
  background: #fff;
  border: 1px solid #d7d7d7;
}
.fuzhuang dl dt a{
  font-size: 12px;
  color:#000;
  font-weight: 900;
}
.fuzhuang dl dd{
  margin-top:5px;
}
.fuzhuang dl dd a{
  font-size:10px ;
  color: #000;
}
.fuzhuang dl a{
  float: left;
}
.fuzhuang dl{
  border-bottom: 1px dashed #d7d7d7;
  width: 450px;
}
.fuzhuang #re{
  margin-left:500px;
  margin-top: -17px;
 border:none;
  position: absolute;
}
.fuzhuang2{
  margin-top: -190px;
}
.fuzhuang{
  margin-left: 420px;
  display: none;
}
/*鞋靴*/
.xiexue{
  position: absolute;
 z-index: 3;
}
.xiexue dl {
  z-index: 3;
}
.xiexue {
  width: 743px;
  height: 264px;
  background: #fff;
  border: 1px solid #d7d7d7;
}
.xiexue dl dt a{
  font-size: 12px;
  color:#000;
  font-weight: 900;
}
.xiexue dl dd{
  margin-top:5px;
}
.xiexue dl dd a{
  font-size:10px ;
  color: #000;
}
.xiexue dl a{
  float: left;
}
.xiexue dl{
  border-bottom: 1px dashed #d7d7d7;
  width: 450px;
}
.xiexue #re{
  margin-left:500px;
  margin-top: -17px;
 border:none;
  position: absolute;
}
.xiexue2{
  margin-top: -190px;
}
.xiexue{
  margin-left: 490px;
  display: none;
}
/* 中间导入数据的地方，模特下面*/
.bg{

	/* background: #000;
	opacity: 0.5;*/
	background: url(http://images.xiustatic.com/cms/noregular/2017/11/new/hd_jxMan_160918/man_bg2.png) repeat;
	height: 20700px;	
	width: 1250px;
	margin:0 auto; 
	
}
.bg .bg1{
	margin-top: 700px;
		width: 1250px;

}
  
 .bg  .bg1 .goods_item3{
     float: left;
     height: 495px;
     margin-top: 30px;
     opacity: 1;

    }
  .bg .bg1 .goods_pic3{

 	margin-left: 30px;

 
 } 
 .bg .bg1 .goods_pic3:hover{
  
 	   
    margin-top: -5px;
       
    }
 
/*品牌推荐*/

.bg .bg2 p{
	font-size: 30px;
	color: red;
	margin-left: 450px;
	/*margin-top: 2000px;*/
}


.bg .bg2{
	
		width: 1250px;

}
  
 .bg  .bg2 .goods_item4{
     float: left;
     height: 495px;
     margin-top: 30px;
     opacity: 1;

    }
  .bg .bg2 .goods_pic4{

 	margin-left: 30px;

 
 } 
 .bg .bg2 .goods_pic4:hover{
  
 	   
    margin-top: -5px;
       
    }

/*潮流时尚*/

.bg .bg3 p{
	font-size: 30px;
	color: red;
	margin-left: 450px;
	/*margin-top: 2000px;*/
}


.bg .bg3{
	
		width: 1250px;

}
  
 .bg  .bg3 .goods_item5{
     float: left;
     height: 495px;
     margin-top: 30px;
     opacity: 1;

    }
  .bg .bg3 .goods_pic5{

 	margin-left: 30px;

 
 } 
 .bg .bg3 .goods_pic5:hover{
  
 	   
    margin-top: -5px;
       
    }


/*热销榜单*/
.bg .bg4 p{
	font-size: 30px;
	color: red;
	margin-left: 450px;
	/*margin-top: 2000px;*/
}


.bg .bg4{
	
		width: 1250px;

}
  
 .bg  .bg4 .goods_item6{
     float: left;
     height: 495px;
     margin-top: 30px;
     opacity: 1;

    }
  .bg .bg4 .goods_pic6{

 	margin-left: 30px;

 
 } 
 .bg .bg4 .goods_pic6:hover{
  
 	   
    margin-top: -5px;
       
    }

/*热销推荐*/

.bg .bg5 p{
	font-size: 30px;
	color: red;
	margin-left: 450px;
	/*margin-top: 2000px;*/
}


.bg .bg5{
	
		width: 1250px;

}
  
 .bg  .bg5 .goods_item7{
     float: left;
     height: 495px;
     margin-top: 30px;
     opacity: 1;

    }
  .bg .bg5 .goods_pic7{

 	margin-left: 30px;

 
 } 
 .bg .bg5 .goods_pic7:hover{
  
 	   
    margin-top: -5px;
       
    }




/*男士背景图*/



/*导入图片结束地方*/
 /*底部最后了！！！！*/
   .bottom{
    margin-top: 20px;
  
  
  }

  .bottom .bottom1{
    width: 100%;
    height: 190px;
    background: #f2f2f2;
    border-top: 3px solid #9a9a9a;
    margin:auto;
  }
  .bottom .bottom1 .ul_bottom{
    margin-top: 30px;
  }
  .bottom .bottom1 .ul_bottom li p{
    color: #1a1a1a;
  }
   .bottom .bottom1 .ul_bottom li span{
     color: #1a1a1a;
   }
  .bottom .bottom1 .ul_bottom li {
    margin-left: 37px;
  
  }
  .bottom .bottom1 .ul_bottom li{
    margin-top: 27px;
  }
  .bottom .bottom1 .img1{
    display: block;
     margin-top: -130px; 
  }
  .bottom .bottom1 .img2{
    display: block;
    margin-top: 30px;
  }
  .bottom .bottom1 .img3{
    display: block;
    margin-top: 30px;
  }
  .bottom .ul_bottom_2  li span{
    font-size:14px;
    color:#4c4c4c;
    padding-top: 14px;
    margin-left: 280px;
  }
  .bottom .ul_bottom_2{
     margin-top: -100px; 
  }
  /*关注我们*/
  .bottom .ul_bottom_3{
    margin-top: -130px;
    margin-left:536px;
  }
  .bottom .ul_bottom_3 span{
    margin-top: 18px;
    color: #111;
  }
  .bottom .ul_bottom_3  a{
    float: left;
    float: center;
    margin-top: 22px;
    padding-left:30px;
    left: -20px;
  }
  .bottom .ul_bottom_3 input{
    margin-top: 60px;
    margin-left:-225px;
    height: 28px;
    border: none;
    border: 1px solid #414141;
    width: 222px;
  }
  .bottom .ul_bottom_3  button{
  height: 32px;
  border:none;
  background: #414141;
  width: 30px;
  color: #faf6f5;
  font-weight: 900;
  font-size: 10px;
  margin-left: -5px;
  
  }
   .bottom .ul_bottom_4{
     float: right;
     margin-top: -130px;
  }
  .bottom .ul_bottom_4 .li1 {
     color: #111111;
  }
   .bottom .ul_bottom_4 li img{
      margin-top: 30px;
  
  }
   .bottomimg .imger{
  
     margin-top:-134px; 
     margin-left:442px;
     position: absolute;
     display: none;
     
  }
/*  灰色阴影下面部分 a标签悬浮事件*/
  
  .bottom2 ul li{
    float: left;
  }
  .bottom2 ul li a{
    font-size:12px;
    color: #000;
    margin-left: 12px;
  }
  .bottom2 ul li span{
    margin-left: 12px;
    color: #d5ccd5;
  }
  .bottom2 ul{
  	background: #fff;
    margin-left: 287px;
    margin-top: 20px;
  }
  .bottom2 ul li a:hover{
    color: #feb300;
  }
/*  海外直发那里*/
  .bottom3{
    margin-top: 60px;
  }
  .bottom3 img{
    margin-left: 364px;
  }
  /*倒数第二行*/
  .bottom4 ul li{
    float: left;
    font-size:12px ;
    color:#999;
  }
  .bottom4 ul li a{
    color:#999;
  }
  .bottom4 ul {
    margin-top: 20px;
    margin-left: 256px;
  }
  .bottom4 ul li a:hover{
    color: #feb300;
  }
 /* 最后的五个图片*/
  .bottom5 ul li{
    float: left;
    margin-left: 20px;
    
  }
  .bottom5{
    height: 30px;
    margin-top:64px;
    margin-left: 418px;
  } 
  .divom{
  	background: #fff;
  	overflow: hidden;
  }
