@import "base";

.div1{
	width: 213px;
	height: 53px;
	
	background: #fff;
}
.div1 a img{
	margin-left: 164px;
	margin-top: 13px;
}
.div2 ul li{
	float: left;
}
.div2 {
	float: right;
	margin-right: 163px;
	margin-top:-20px;
}
.div2 ul li:nth-child(1){
	font-size: 14px;
	color: #151515;
}
.div2 ul li:nth-child(2){
	font-size: 16px;
	color: #f26521;
	font-weight: 800;
	margin-top: -2px;
}
.div2 ul li:nth-child(3){
	font-size: 12px;
	color: #5b5b5b;
	margin-top: 2px;
	margin-left:2px;
}
.div3{
	margin-top: 10px;
	margin-left:165px;
	width: 955px;
	height: 10px;
	background: #fff;
	border-bottom: 1px solid #000;
}
.div4{
	margin-top: 10px;
	margin-left:165px;
	width: 955px;
	height: 40px;
}
.catbox #cartTable {
	width: 950px;
	margin-left: 170px;
}
.catbox #cartTable thead {
	
	margin-left: 200px;
}
.catbox #cartTable thead tr th{
	width: 181px;
	margin-left: 580px;
	text-align: left;
	left: 400px;
	height: 36px;
	background: #e3e3e3;
	margin-left: 20px;
}
.catbox #cartTable thead tr th label{
	
}
.catbox #cartTable  tbody{
	margin-left: 20px;
}
.catbox #cartTable  tbody tr {
margin-left: 90px;
}
.catbox #cartTable  tbody tr .chechbox{
	width: 130px;
	height: 110px;
}
.catbox #cartTable  tbody tr .goods span{
	font-size: 12px;
	color: #000;
}
.catbox #cartTable  tbody tr .price span{
	margin-left: 90px;
}
.catbox #cartTable  tbody tr  .count-input{
	width: 40px;
}
.catbox #cartTable  tbody tr td {
	margin-left: 30px;
}
.catbox #cartTable  tbody tr td span{
	text-align: center;
}
/*底部*/
.catbox  .foot{
	height: 50px;
	width: 950px;
	margin:0 auto;
	background: #e3e3e3;
}
.catbox  .foot .select-all{
    width: 100px;
    height: 40px;
    background: #e3e3e3;
	margin-left: 1px;
	position: relative;
}
.catbox  .foot a{
	margin-top:15px;
}
.catbox  .foot .selectedViewList div span{
	margin-left: 200px;
}
.catbox  .foot .total{
	float: right;
	margin-right: 1px;
	margin-top:-20px;
	overflow: hidden;
	background: orange;
	height: 50px;
	width: 160px;
	line-height: 50px;
	text-align: center;
}
.catbox  .foot .closing{
	margin-right: 200px;
}
.div5{
	width: 950px;
	height: 10px;
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 20px;
	margin-left: 165px;
}
.div6 li{
	float: left;
	margin-top:10px;
	margin-left: 10px;

}
.div6 {
	margin-left: 165px;
	margin-top: 10px;
}
.div6 li a{

	font-weight: 600;
	color: orange;
}
.div7{
	width: 950px;
	height: 30px;
	background: #fff;
	margin-top:60px;
	margin-left: 165px;
	border-bottom: 1px solid #111;
}
/*倒数第二行*/
  .bottom4 ul li{
    float: left;
    font-size:12px ;
    color:#999;
  }
  .bottom4 ul li a{
    color:#999;
  }
  .bottom4 ul {
    margin-top: 20px;
    margin-left: 256px;
  }
  .bottom4 ul li a:hover{
    color: #feb300;
  }